/.vscode
/altair-data-3f623cb8c0d1d6ee2a1722d97109f201.json
/altair-data-67af104128a800f78ef381b00107fc29.json
/altair-data-e48ab1e8c02426a9540a9359cd26b26b.json
/corpus_2014
/corpus_2023
/Create_spreadsheet_Factiva_data.ipynb
/Factiva-20231205-1420.rtf
/FInal Project_2023.ipynb
/heatmap_2014
/html_2014
/html_2023
/Images
/NYT API
/NYT.ipynb
/scratch.ipynb
/scratch_2.ipynb
/thanks.xlsx
/visualization.svg
/West_Bank_Access_Restrictions_June_2020.pdf